#section-main{
    display: flex;
    justify-content: center;
}
#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    color: white;
}
#calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    border-radius: 8px;
    border: solid 1px black;
    padding-bottom: 10px;
    background-color:rgb(32, 31, 31)
}
#calc-inputs{
    display: grid;
    grid-template-columns: 76px 76px 76px 76px;
    justify-content: center;
    gap:2px;
 

}

#calc-inputs button {
    font-size: 19px;
    height: 48px;
    width: 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(71, 70, 70);
    
}

#calc-inputs button:hover {
    background-color: rgb(62, 61, 61);
    
} 

#equal {
    background-color: rgb(156, 68, 239) !important;
}
#equal:hover {
    background-color: rgb(136, 59, 208) !important;
}

